:root{
    --bg-testo:#f2e9e4;
    --bg-all:#c9ada7;
    --testo:#4a4e69;
}

*{
    font-family: 'Times New Roman', Times, serif;
    color: var(--testo);
}

body{
    background-image: url(/public/storage/image/newspaper.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.dv-head{
  background-color: rgba(148, 142, 138, 0.301);
}

img{
  border: 5px;
  border-radius: 20%;
  object-fit: cover;
}

.card-work{
    background-image: url(/public/storage/image/card.jpeg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    border:10px dashed var(--bg-testo);
    border-radius: 30px;
    padding: 10px;

}

button {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    display: inline-block;
    border-radius: 4px;
    background-color: var(--bg-testo);
    border: none;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  button:hover span {
    padding-right: 10px;
  }
  
  button:hover span:after {
    opacity: 1;
    right: 0;
  }
